.gifos-title{
    display: flex;
    flex-direction: column;
}
    .myGifos{
        width: 860px;
        height: 375px;
        h1{
            width:375px;
            height:30px;
           
        }
        .createGifo{
            height: 375px;
            .imgGifos{
            width:156px;
            height:120px;
            
            }
        }
        input{
            width:127px;
            height:50px;
            
        }
        p{
            width:63px;
            height:16px;
            
        }
    }

